IGB283Assignment2PartB/Library/
IGB283Assignment2PartB/.vs/
IGB283Assignment2PartB/ProjectSettings/
IGB283Assignment2PartB/Temp/
**.csproj
**.sln
IGB283Assignment2PartB/Library/*
IGB283Assignment2PartB/Library/metadata/00/00000000000000002000000000000000
